.registerForm {
    font-family: arial;
    font-size: large;
    padding: 50px;
    border: 3px lightgray solid;
    border-radius: 5px;
}    

h1 {
    text-align: center;
}

.registerBackHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.backHome {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.backHome:hover {
    background-color: lightgray;
    border-radius: 5px;
}